
<p>
  <%= image_tag @activity.activity_image(:large) %>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>
  <p>
    Created by: <%= @activity.user.username %>
	Created by: <%= @activity.user.id %>
	Created by: <%= @activity.id %>
</p>
        <% if current_user == @activity.user %>
			<%= link_to 'Edit', edit_activity_path(@activity) %> |
		<% end %>
<%= link_to 'Back', activities_path %>
